[bumpversion]
current_version = 26.4.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file(all-extra):pyproject.toml]
search = gitlab-api[mcp,agent,gql,logfire]>={current_version}
replace = gitlab-api[mcp,agent,gql,logfire]>={new_version}

[bumpversion:file:a2a.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file(mcp-img):docker/Dockerfile]
search = gitlab-api[mcp]>={current_version}
replace = gitlab-api[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = gitlab-api[agent]>={current_version}
replace = gitlab-api[agent]>={new_version}

[bumpversion:file:gitlab_api/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:gitlab_api/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
