[bumpversion]
current_version = 25.14.9
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file:Dockerfile]
search = gitlab-api[all]>={current_version}
replace = gitlab-api[all]>={new_version}

[bumpversion:file:gitlab_api/gitlab_agent.py]
search = version="{current_version}"
replace = version="{new_version}"
