ollama/
venv/
__pycache__/
*.pyc
.git/
.env
scripts/
tests/
gitlab_api.egg-info*
models/
.github/
build/
.bumpversion.cfg
.pre-commit-config.yaml
pytest.ini
./tests/

Dockerfile
debug.Dockerfile
compose.yml
